@import url('https://fonts.googleapis.com/css?family=Asap');

:root {
  --primary-color: #262626;
  --background-color: #f1f1f1;
  --primary-font: 'Asap';
  --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  --shadow: 0.4rem 0.4rem 0.7rem -0.3rem rgba(0, 0, 0, 0.2),
    -0.4rem -0.4rem 0.7rem -0.3rem rgba(255, 255, 255, 1);
  --shadow-on-hover: none;
}

body {
  margin-top: 20px;
  text-align: center;
  font-family: var(--primary-font);
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  background-color: var(--background-color);
  user-select: none;
}

header,
main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

p {
  line-height: 2.5rem;
}

nav {
  height: 4em;
  margin: 20px 0 5px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  box-shadow: var(--shadow);
  font-size: 0.8em;
  font-family: inherit;
  background-color: inherit;
  border: none;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
}

progress[value] {
  margin-bottom: 2rem;
  -webkit-appearance: none;
  appearance: none;
  width: 50vw;
  max-width: 300px;
  height: 0.15em;
}

progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.07) inset;
  transition: all 0.5s ease-out;
}
progress[value]::-webkit-progress-value {
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  border-radius: 1rem;
  transition: all 0.5s ease-out;
}

footer a:visited {
  color: inherit;
}

footer p {
  margin: 0.5em;
  font-size: 0.7em;
}

footer a i {
  transition: all 0.5s var(--bounce);
}

footer a:hover i {
  transform: translate3d(0, 0, 0);
  animation: shake 0.6s var(--bounce);
}

.game-content {
  transition: all 0.5s 0.5s ease-out;
}

.game-over-content {
  position: absolute;
  font-size: 1em;
  transition: all 0.5s 0.5s ease-out;
}

.show {
  visibility: visible;
  z-index: 1;
  opacity: 1;
}

.hide {
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: 0.4s 0.6s ease-out;
}

.new-game-button {
  padding: 10px 15px;
  box-shadow: var(--shadow);
}

.new-game-button:focus {
  opacity: 0;
  box-shadow: var(--shadow-on-hover);
  transform: translateY(-100px) scale(0);
  transition: transform 0.7s 0.3s ease-in, opacity 0.4s 0.5s ease-out,
    box-shadow 0.3s;
}

.country-buttons {
  margin: 0 1.5%;
  padding: 10px;
  flex-wrap: wrap;
  font-weight: bold;
  transition: all 0.5s 0.5s ease-out, transform 0.2s, box-shadow 0.2s,
    background-color 0.3s;
}

.country-buttons:active {
  box-shadow: var(--shadow-on-hover);
  transform: translateY(5px);
}

.won:focus {
  background-color: lightgreen;
}

.lost:focus {
  background-color: lightpink;
}

.flag {
  max-height: 160px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: var(--shadow);
  transition: all 0.5s 0.2s linear;
}

@media only screen and (min-width: 768px) {
  .flag {
    max-height: 180px;
  }
}

.hint {
  font-size: 1em;
}

.wrong-guess-shake {
  transform: translate3d(0, 0, 0);
  animation: shake 0.4s var(--bounce) both;
}

.is-correct-message {
  font-weight: bold;
}

.score {
  margin: 30px auto;
  transition: 0.8s 0.7s var(--bounce);
}

.enlarge {
  transform: translateY(110px) scale(1.4);
}

.result-message {
  height: 25px;
}

.is-correct-message {
  font-weight: bold;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
